## Deliverable 2. Create a Customer Travel Destinations Map.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [4]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Current Description
0,0,Port Hedland,-20.3167,118.5667,59.05,67,0,6.91,AU,2022-07-17 14:35:16,clear sky
1,1,Saldanha,-33.0117,17.9442,68.05,81,0,10.02,ZA,2022-07-17 14:35:17,clear sky
2,2,Busselton,-33.6500,115.3333,53.19,92,100,14.72,AU,2022-07-17 14:35:17,light rain
3,3,Cape Town,-33.9258,18.4232,64.11,79,0,14.97,ZA,2022-07-17 14:34:28,clear sky
4,4,Boa Vista,2.8197,-60.6733,87.78,66,20,9.22,BR,2022-07-17 14:35:17,few clouds

In [5]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 62
What is the maximum temperature you would like for your trip? 97

In [6]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Current Description
1,1,Saldanha,-33.0117,17.9442,68.05,81,0,10.02,ZA,2022-07-17 14:35:17,clear sky
3,3,Cape Town,-33.9258,18.4232,64.11,79,0,14.97,ZA,2022-07-17 14:34:28,clear sky
4,4,Boa Vista,2.8197,-60.6733,87.78,66,20,9.22,BR,2022-07-17 14:35:17,few clouds
5,5,Kalmunai,7.4167,81.8167,81.12,84,100,7.87,LK,2022-07-17 14:35:18,overcast clouds
7,7,Forestville,38.8451,-76.8750,81.05,84,75,3.44,US,2022-07-17 14:35:18,broken clouds
8,8,Rikitea,-23.1203,-134.9692,73.62,78,100,16.35,PF,2022-07-17 14:33:22,light rain
9,9,Albany,42.6001,-73.9662,83.43,64,43,2.01,US,2022-07-17 14:31:35,scattered clouds
14,14,Kavieng,-2.5744,150.7967,82.60,77,77,15.77,PG,2022-07-17 14:35:20,light rain
15,15,Ararangua,-28.9347,-49.4858,63.61,51,81,5.23,BR,2022-07-17 14:35:20,broken clouds
16,16,Puerto Ayora,-0.7393,-90.3518,69.76,91,63,8.01,EC,2022-07-17 14:35:21,broken clouds

In [7]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

Unnamed: 0             478
City                   478
Lat                    478
Lng                    478
Max Temp               478
Humidity               478
Cloudiness             478
Wind Speed             478
Country                473
Date                   478
Current Description    478
dtype: int64

In [8]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
print(len(clean_df))
clean_df.head()

473

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Current Description
1,1,Saldanha,-33.0117,17.9442,68.05,81,0,10.02,ZA,2022-07-17 14:35:17,clear sky
3,3,Cape Town,-33.9258,18.4232,64.11,79,0,14.97,ZA,2022-07-17 14:34:28,clear sky
4,4,Boa Vista,2.8197,-60.6733,87.78,66,20,9.22,BR,2022-07-17 14:35:17,few clouds
5,5,Kalmunai,7.4167,81.8167,81.12,84,100,7.87,LK,2022-07-17 14:35:18,overcast clouds
7,7,Forestville,38.8451,-76.8750,81.05,84,75,3.44,US,2022-07-17 14:35:18,broken clouds

In [9]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Saldanha,ZA,68.05,clear sky,-33.0117,17.9442,
3,Cape Town,ZA,64.11,clear sky,-33.9258,18.4232,
4,Boa Vista,BR,87.78,few clouds,2.8197,-60.6733,
5,Kalmunai,LK,81.12,overcast clouds,7.4167,81.8167,
7,Forestville,US,81.05,broken clouds,38.8451,-76.8750,
8,Rikitea,PF,73.62,light rain,-23.1203,-134.9692,
9,Albany,US,83.43,scattered clouds,42.6001,-73.9662,
14,Kavieng,PG,82.60,light rain,-2.5744,150.7967,
15,Ararangua,BR,63.61,broken clouds,-28.9347,-49.4858,
16,Puerto Ayora,EC,69.76,broken clouds,-0.7393,-90.3518,

In [12]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key 
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"


    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()

    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [13]:
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Saldanha,ZA,68.05,clear sky,-33.0117,17.9442,Blue Bay Lodge
3,Cape Town,ZA,64.11,clear sky,-33.9258,18.4232,"Radisson Blu Hotel Waterfront, Cape Town"
4,Boa Vista,BR,87.78,few clouds,2.8197,-60.6733,Aipana Plaza Hotel
5,Kalmunai,LK,81.12,overcast clouds,7.4167,81.8167,VS Villa
7,Forestville,US,81.05,broken clouds,38.8451,-76.8750,Quality Inn Near Joint Base Andrews-Washington...
8,Rikitea,PF,73.62,light rain,-23.1203,-134.9692,People ThankYou
9,Albany,US,83.43,scattered clouds,42.6001,-73.9662,
14,Kavieng,PG,82.60,light rain,-2.5744,150.7967,Nusa Island Retreat
15,Ararangua,BR,63.61,broken clouds,-28.9347,-49.4858,Hotel Mazzuco
16,Puerto Ayora,EC,69.76,broken clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel

In [14]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()
print(len(hotel_df))
clean_hotel_df.head()

473

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Saldanha,ZA,68.05,clear sky,-33.0117,17.9442,Blue Bay Lodge
3,Cape Town,ZA,64.11,clear sky,-33.9258,18.4232,"Radisson Blu Hotel Waterfront, Cape Town"
4,Boa Vista,BR,87.78,few clouds,2.8197,-60.6733,Aipana Plaza Hotel
5,Kalmunai,LK,81.12,overcast clouds,7.4167,81.8167,VS Villa
7,Forestville,US,81.05,broken clouds,38.8451,-76.8750,Quality Inn Near Joint Base Andrews-Washington...

In [16]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [36]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [37]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(markers)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))